@tailwind base;
@tailwind components;
@tailwind utilities;

.online::before {
  content: "";
  position: absolute;
  background-color: #23be7e;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 2px solid white;
  right: 2px;
  bottom: 2px;
}
